body {
    background-color: #fff;
    color: #333;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

h1 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 20px;
    line-height: 27px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #00f;
}

a:visited {
    color: #00f;
}

a:hover {
    color: #fff;
    background-color: #000;
}

div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

table {
    border-collapse: collapse;
}

table, th, td, tr {
	border-style: solid solid solid solid;
	border-color: grey;
	border-width: 1px;
}

th, td {
    text-align: left;
    padding: 0px 2px
}

th.numeric, td.numeric {
    text-align: right;
    padding: 0px 4px
}

th, td {
    vertical-align: top
}

table td:first-of-type:not([class]) {
    width: 200px
}

table.internal, th.internal, td.internal, tr.internal {
	border-style: none none none none;
}

td.description {
	max-width: 350px;	
}

table.index {
    padding: 0px 0px 0px 0px;
	border-style: none none none none;
}

tr.index {
	border-style: solid none solid none;
}

/* first link is the item itself, not a button */
tr.index td:not(:first-of-type) a {
	text-decoration: none;
	display: block;
	background-color: transparent;
	background-image: url(/images/button66.png);
	background-repeat: no-repeat;
	width: 66px;
	height: 29px;
	text-align: center;
	color: #444444;
	padding: 5px 0px 0px 0px;
}
tr.index td:first-of-type {
	padding: 0px 5px 0px 5px;
	vertical-align: middle;
}
tr.index td:not(:first-of-type) {
	padding: 5px 5px 0px 5px;
	align: center;
	vertical-align: middle;
}
tr.index td:not(:first-of-type) a:active {
	color: #444444;
}
tr.index td:not(:first-of-type) a:visited {
	color: #444444;
}
tr.index td:not(:first-of-type) a:hover {
	color: #444444;
	text-decoration: underline;
}

/* when there are no buttons, still show the same spacing in the table */
tr.index {
	height: 39px;
}

/* the links at the bottom of the document are also shown as buttons */
body > a {
	text-decoration: none;
	display: inline-block; 
	background-color: transparent;
	background-image: url(/images/button99.png);
	background-repeat: no-repeat;
	width: 99px;
	height: 29px;
	text-align: center;
	color: #444444;
	padding: 5px 0px 0px 0px;
}
body > a:active {
	color: #444444;
}
/* this does not work for some reason */
body > a:hover {
	background-color: #fff;
	text-decoration: underline;
	color: #444444;
}
body > a:visited {
	color: #444444;
}

/* the links at the top of the document are shown as a menu bar */
div.navigation {
	background-color: #eeeeee;
	border: outset 1px #eeeeee;
}
div.navigation a {
	text-decoration: none;
	display: inline-block;
	background-repeat: no-repeat;
	height: 24px;
	text-align: center;
	color: #444444;
	padding: 5px 20px 0px 20px;
}
div.navigation a:active {
	color: #444444;
}
/* the color change does not work for some reason, so we also underline the link */
div.navigation a:hover {
	text-decoration: underline;
	background-color: #eeeeee;
	color: #444444;
}
div.navigation a:visited {
	color: #444444;
}
div.navigation tr {
	vertical-align: bottom;
}
div.navigation td {
	vertical-align: bottom;
}
